# Dependencies
/node_modules

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Misc
.DS_Store
*.pem

# Local Environment Variables
# Ensure .env files containing secrets are not committed.
# You can create a .env.example file to show the structure.
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Genkit Cache & Logs
.genkit/cache/
.genkit/logs/

# Firebase local emulators & logs
*.log
firebase-debug.log
database-debug.log
storage-debug.log
.firebase/emulators/
